body {
   font-family: "Roboto", sans-serif;
   display: flex;
   flex-direction: column;
   margin: 0;
}

.top {
   display: flex;
   flex-direction: column;
   background-color: #1F2937;
   color: #F9FAF8;
   padding: 13px 200px 40px 200px;
   min-height: 400px;
   gap: 85px;
}

.header {
   display: flex;
   justify-content: space-between;
   font-size: 24px;
   font-weight: 550; 
}

ul {
   display: flex;
   list-style-type: none;
   padding: 0;
   margin: 0;
   display: flex;
   gap: 24px; 
}

a {
   color: #E5E7EB;
   font-size: 18px;
   text-decoration: none;
   font-weight: 300;
}

.hero {
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
   gap: 40px;
}

.hero_left {
   max-width: 390px;
   min-width: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 16px;
}

.main {
   font-size: 36px;
   font-weight: 700;
   line-height: 1.4;
}

.sub-main {
   font-size: 18px;
   font-weight: 300;
   line-height: 1.3;
}

.button-one {
   border-radius: 7px;
   border: none;
   background-color: #3882f6;
   padding: 8px 24px;
}

.hero_right {
   max-width: 360px;
}

.top_img {
   width: 340px;
   height: auto;
}

.info {
   min-height: 370px;
   text-align: center;
   padding: 25px;
   display: flex;
   flex-direction: column;
   gap: 35px;
   justify-content: center;
   align-items: center;
}

.info-header {
   color: #1F2937;
   font-size: 36px;
   font-weight: 900;
}

.items {
   display: flex;
   gap: 36px;
   justify-content: center;
   color: #56575a;
   font-size: 16px;
   font-weight: 400;
}

.item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 7px;
}

.img {
   border-radius: 7px; 
   border: 2px solid #3882f6;
}

.quotation {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #E5E7EB;
   font-family: sans-serif;
   color: #1F2937;    
   min-height: 350px;
   padding: 50px 80px;
}

.quote {
   display: flex;
   justify-content: center;
   font-size: 36px;
   font-style: italic;
   font-weight: 100;
   padding: 13px 155px 40px 155px;
}

.source {
   font-size: 24px;
   font-weight: 500px;
   text-align: right;
   padding: 13px 260px 40px 155px;
}

.join {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   min-height: 300px;
   padding: 45px 60px;
}

.inner-join {
   border-radius: 8px;
   display: flex;
   background: #3882f6;
   padding: 25px 65px;
   width: 700px;
   min-height: 100px;
   align-items: center;
   justify-content: center;
   gap: 250px;
}

.join-left {
   text-align: left;
}

.big-message {
   font-size: 20px;
}

.small-message {
   font-size: 16px;
}

.button-two {
   border-radius: 7px; 
   background-color: #3882f6;
   border: 2px solid #F9FAF8;
   padding: 8px 24px;
}

.footer {
   background-color: #1F2937;
   color: #F9FAF8;
   min-height: 75px;
   text-align: center;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.pages {
   height: 100%;
   width: 100%;
   position: fixed;
   font-size: 36px;
   background-color: #1F2937;
   color: #F9FAF8;
   padding: 13px 155px 40px 155px;
}

